*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#timer {
  display: grid;
  place-items: center;
  font-size: 3rem;
  height: 8rem;
  width: 8rem;
  border-radius: 100%;
  background-color: violet;
}

.button-container {
  display: flex;
  margin-inline: auto;
  gap: 0.5em;
}

#timer .seconds {
  font-size: 0.875rem;
  vertical-align:text-top;
}

#timer .seconds::before {
  content: ":";
}